{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>
    {% block title %} {% endblock title %}
  </title>
  <meta content="ecommerce website we sell quality hair products" name="description">
  <meta content="ecommerce" name="amazon,products,selling,hair">

  <!-- Favicons -->
  {% comment %} <link href="{% static '/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static '/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon"> {% endcomment %}

  <link rel="apple-touch-icon" sizes="57x57" href="{% static '/fhimg/apple-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static '/fhimg/apple-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static '/fhimg/apple-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static '/fhimg/apple-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static '/fhimg/apple-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static '/fhimg/apple-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static '/fhimg/apple-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static '/fhimg/apple-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static '/fhimg/apple-icon-180x180.png' %}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{% static '/fhimg/android-icon-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static '/fhimg/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static '/fhimg/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static '/fhimg/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static '/fhimg/manifest.json' %}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static '/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

  <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css"> 

  <!-- Template Main CSS File -->
  <link href="{% static '/assets/css/style.css' %}" rel="stylesheet">
  <link href="{% static '/assets/css/magiccard.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo bg-dark bg-gradient"><a href="/"><span class="fs-2 fw-light font-monospace">Fulch</span><span class="text-danger d-inline p-1 text-bg-light fs-4 fw-light fst-italic text-lowercase fw-bolder">Hairs<span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="{% static '/assets/img/logo.png' %}" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a {% if request.path == "/" %}
              class="nav-link scrollto active"
            {% else %}
              class="nav-link scrollto"
            {% endif %} href="/">
            <i class="fa-solid fa-house-chimney"></i>&nbspHome
            </a>
          </li>
          <li><a {% if request.path == "/about" %}
            class="nav-link scrollto active"
          {% else %}
            class="nav-link scrollto"
          {% endif %} href="/about">
            <i class="fa-solid fa-address-card"></i>&nbspAbout
          </a></li>
          <li><a {% if request.path == "#" %}
            class="nav-link scrollto active"
          {% else %}
            class="nav-link scrollto"
          {% endif %} href="#">
            {% comment %} <li class="dropdown"><a href="#"><span><i class="bi bi-box-arrow-in-down"></i> Sign In</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a {% if request.path == "/auth/signup/" %}
                  class="nav-link scrollto active"
                {% else %}
                  class="nav-link scrollto"
                {% endif %} href="/auth/signup/">
                  <i class="fa-solid fa-user-plus"></i>
                  Profile</a></li>
                <li><a {% if request.path == "/auth/login/" %}
                  class="nav-link scrollto active"
                {% else %}
                  class="nav-link scrollto"
                {% endif %} href="/auth/login/">
                  <i class="fa-solid fa-right-to-bracket"></i>
                  Orders</a></li>
              </ul>
            </li>
            <i class="bi bi-person-circle"></i>&nbspErasmus
          </a></li> {% endcomment %}

          <!-- <li><a class="nav-link scrollto bg-danger p-2 m-2" href="/contact">Cart</a></li> -->

          <button type="button" class="nav-link scrollto bg-danger p-2 m-2 text-white" id="popcart" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true"><i class="fa-solid fa-cart-shopping"></i> Cart <span id="cart" class="top-0 badge rounded-pill bg-success">0</span>
          </button>
         

          {% if request.user.is_authenticated %}
          <li class="dropdown"><a href="#"><span><i class="bi bi-person-badge-fill"></i> {{user.username}}</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a {% if request.path == "/profile" %}
                class="nav-link scrollto active"
              {% else %}
                class="nav-link scrollto"
              {% endif %} href="/profile">
              <i class="bi bi-person-square"></i>
                Profile</a></li>
                <li><a {% if request.path == "/payment" %}
                  class="nav-link scrollto active"
                {% else %}
                  class="nav-link scrollto"
                {% endif %} href="/payment">
                  <i class="fa-solid fa-check-to-slot"></i>&nbspCheckout
                </a></li>
                <li><a {% if request.path == "/ordersp" %}
                  class="nav-link scrollto active"
                {% else %}
                  class="nav-link scrollto"
                {% endif %} href="/ordersp">
                <i class="bi bi-list-ul"></i>
                  Orders</a></li>
                  <li><a {% if request.path == "/auth/logout/" %}
                    class="nav-link scrollto active"
                  {% else %}
                    class="nav-link scrollto"
                  {% endif %} href="/auth/logout/">
                    Logout &nbsp<i class="fa-solid fa-right-from-bracket"></i>
                    {% comment %} {{user.username}} {% endcomment %}
                  </a></li>
              </ul>
              <li><a {% if request.path == "" %}
                class="nav-link scrollto active"
              {% else %}
                class="nav-link scrollto"
              {% endif %} href="">
              <i class="bi bi-heart-fill"></i>
                &nbspWishlist 4</a></li>
            </li>
          </li>
          {% else %}
          <li class="dropdown"><a href="#"><span><i class="bi bi-box-arrow-in-down"></i> Sign In</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a {% if request.path == "/auth/signup/" %}
                class="nav-link scrollto active"
              {% else %}
                class="nav-link scrollto"
              {% endif %} href="/auth/signup/">
                <i class="fa-solid fa-user-plus"></i>
                Sign Up</a></li>
              <li><a {% if request.path == "/auth/login/" %}
                class="nav-link scrollto active"
              {% else %}
                class="nav-link scrollto"
              {% endif %} href="/auth/login/">
                <i class="fa-solid fa-right-to-bracket"></i>
                Login</a></li>
            </ul>
          </li>
          {% endif %}
          {% comment %} {% if messages %}
          {% for message in messages %}
      
            <div class="alert alert-{{message.tags}} alert-dismissible fade show p-1 m-1" role="alert">
              <p style="font-size: 12px;">{{message}}<p>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          
          {% endfor %}             
          {% endif %} {% endcomment %}

          
          
          <li><a {% if request.path == "/contact" %}
            class="nav-link scrollto active"
          {% else %}
            class="nav-link scrollto"
          {% endif %} href="/contact">
            <i class="fa-solid fa-headset"></i>&nbsp Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      {% block content %}
      
      
      {% endblock content %}
    </div>
  </section><!-- End Hero -->

  <main id="main">
    {% block body %}



    {% endblock body %}
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top" style="background-color: #191c29;">
      <div class="container " >
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3 class="text-danger">Fulch Hairs</h3>
            <p class="text-light">
              A108 Adam Street <br>
              PortHacourt, River State.<br>
              Nigeria <br><br>
              <strong>Phone:</strong> +234 703 247 2371<br>
              <strong>Email:</strong> boronicle@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4 class="text-light">Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/about">About us</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4 class="text-light">Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Retail of Hair Products</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development <span style='color: red;'>Coming Soon</span></a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4 class="text-light">Join Our Newsletter</h4>
            <p class="text-light">Recieve our weekly updates of our products and many more</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Fulch Hairs</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href="/">Star Team Consults</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://instagram.com/fulchluxury?igshid=OGQ5ZDc2ODk2ZA==" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://tiktok.com/@fulchluxury" class="tiktok"><i class="bx bxl-tiktok"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static '/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static '/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static '/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static '/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static '/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static '/assets/js/main.js' %}"></script>

</body>

</html>