{% extends 'base2.html' %}
{% block title %}
    Fulchhairs - Check Out
{% endblock title %} 
{% block content %}
<h1>FULCH HAIRS CHECK OUT</h1>
{% endblock content %} 
{% block body %} 
{% load static %}


    <section id="portfolio" class="portfolio">
        <div class="container">
            {% if messages %}
            {% for message in messages %}
        
              <div class="alert alert-{{message.tags}} alert-dismissible fade show p-1 m-1" role="alert">
                <p style="font-size: 12px;">{{message}}<p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            
            {% endfor %}             
            {% endif %}
            <hr>
        <div class="section-title">
            <h2>Fulchhairs</h2>
            <h3>Order Checkout </h3>
        </div>      
       
        
           <br>
           <div class="col my-4">
               <h2  class="bg-danger text-white center">&nbsp Enter Address & Other Details:</h2>
               <!-- {% comment %} <form method="post" action="/checkout/">{% csrf_token %}
                   <input type="hidden" name="itemsJson" id="itemsJson">
                   <input type="hidden" id="amt" name="amt">
                   <div class="form-row">
                       <div class="form-group col-md-6">
                           <label for="inputname">Name</label>
                           <input type="text" class="form-control mt-3" id="name" name="name" placeholder="Name" required>
                       </div>
                       <div class="form-group col-md-6">
                           <label for="inputEmail4">Email</label>
                           <input type="email" class="form-control mt-3" id="email" name="email" placeholder="Email" value="{{user.email}}" required>
                       </div>                 
                   </div>
                    <div class="form-row">
                   <div class="form-group col-md-6">
                       <label for="inputAddress">Address</label>
                       <input type="text" class="form-control mt-3" id="address1" name="address1" placeholder="1234 Main St" required>
                   </div>
                   <div class="form-group col-md-6">
                       <label for="inputAddress">Address line 2</label>
                       <input type="text" class="form-control mt-3" id="address2" name="address2" placeholder="1234 Main St" required>
                   </div>
                   </div>          
                   <div class="form-row">
                       <div class="form-group col-md-6">
                           <label for="inputCity">City</label>
                           <input type="text" class="form-control mt-3" id="city" name="city" required>
                       </div>
                       <div class="form-group col-md-6">
                           <label for="inputState">State</label>
                           <input type="text" class="form-control mt-3" id="state" name="state"  placeholder="Enter State" required>
                       </div>
                       </div>
                     
                    <div class="form-row">
                    <div class="form-group col-md-6">
                           <label for="inputZip">Pin Code</label>
                           <input type="number" class="form-control mt-3" id="zip_code" name="zip_code" required>
                       </div>
                   <div class="form-group col-md-6">
                       <label for="inputZip">Phone Number</label>
                       <input type="number" class="form-control mt-3" id="phone" name="phone" required>
                   </div>
                   <br>                   
                   <button id="btn" type="submit" class="btn btn-success btn-sm btn-block col-md-4">Place Order</button>
               </form> {% endcomment %} -->
               <br>
               <form class="row g-3" action="{% url 'checkout' %}" method="POST">
                <input type="hidden" name="itemsJson" id="itemsJson">
                <input type="hidden" id="amount" name="amount" value="{{payment.amount}}">
                <div class="col-md-12">
                    <label for="inputname" class="form-label">Full Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Full Name" required>
                  </div>
                <div class="col-md-6">
                  <label for="inputEmail" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="{{user.email}}" required>
                </div>
                <div class="col-12">
                  <label for="inputAddress" class="form-label">Address</label>
                  <input type="text" class="form-control" id="address1" name="address1" placeholder="1234 Main St" required>
                </div>
                <div class="col-12">
                  <label for="inputAddress2" class="form-label">Address 2</label>
                  <input type="text" class="form-control" id="address2" name="address2" placeholder="Apartment, studio, or floor" required>
                </div>
                <div class="col-md-6">
                  <label for="inputCity" class="form-label">City</label>
                  <input type="text" class="form-control" id="city" name="city" required>
                </div>
                <div class="col-md-4">
                  <label for="inputState" class="form-label">State</label>
                  <input type="text" class="form-control" id="state" name="state"  placeholder="Enter State" required>
                </div>
                <div class="col-md-6">
                  <label for="inputZip" class="form-label">Phone Number</label>
                  <input type="number" class="form-control" id="phonenumber" name="phonenumber" required>
                </div>
                <div class="col-12">
                    <button type="button" class="btn btn-success btn-sm btn-block col-md-4">Place Your Order</button>
                </div>
                 
              </form>
              {% comment %} <div class="container">
                <div class="col my-4">
                    <h2 class="bg-danger text-white center">&nbsp Step 2 - Express Checkout - Review Your Cart Items</h2>
                    <div class="my-4">
                        <ul class="list-group" id="items"> 
                        </ul>
                        <nav aria-label="breadcrumb">
                             <ol class="breadcrumb mt-3">
                                 <li class="breadcrumb-item active" aria-current="page">Your Cart Total Is <b class="text-danger">₦<span id="totalprice"></span> <span id="amount" name="amount"></span></b>.<br>Your transaction reference {{ payment.ref }} <br> Enter your details below & place your order. <br><br> <span class="text-white bg-success">&nbsp Thanks for using Fulchhairs &nbsp</span></li>
                             </ol>
                         </nav>
                            
                    </div>
                </div>
            </div>

            <section class="pb-4">
                <div class="border rounded-5 card p-5 border border-4 border border-#4e00c2-subtle" style="background-color: #191c29;">
                  
                  <section class="w-100 p-4 d-flex justify-content-center pb-4">
                    <form style="width: 22rem;" action="{% url 'initiate_payment' %}" method="POST">
                      <h2 class="text-light">Wallet Time</h2>
                      {% csrf_token %}
                      <!-- Email input -->
                      <div class="form-outline mb-4">
                        <input type="email" id="form2Example1" class="form-control" name="email" value="{{user.email}}" required>
                        <label class="form-label text-light" for="form2Example1" style="margin-left: 0px;">email</label>
                      <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 88.8px;"></div><div class="form-notch-trailing"></div></div></div>
              
                      <div class="form-outline mb-4">
                          <input type="number" min=1 required id="form2Example1" class="form-control" name="amount">
                          <label class="form-label text-light" for="form2Example1" style="margin-left: 0px;">Enter amount to pay for confirmation</label>
                        <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 88.8px;"></div><div class="form-notch-trailing"></div></div></div>
              
                      <button type="submit" class="btn btn-primary btn-block mb-4">Make  Payment</button>
              
                    </form>
                  </section> {% endcomment %}
             
       </div>

       <hr>

       

       <!-- onclick="payWithPayStack()" -->
   
    <script src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


    {% comment %} <script>
    if (localStorage.getItem('cart') == null) {
        var cart = {};
    } else {
        cart = JSON.parse(localStorage.getItem('cart'));
    }
    console.log(cart);

    var sum = 0;
    var totalPrice = 0;
    if ($.isEmptyObject(cart)) {
   //if object is empty
        mystr = `<p>Your cart is empty, please add some items to your cart before checking out!</p>`
        $('#items').append(mystr);
    } else {
        for (item in cart) {
       let name = cart[item][1];
       let qty = cart[item][0];
       let itemPrice = cart[item][2];
       sum = sum + qty;
       totalPrice = totalPrice + qty * itemPrice;
       
       mystr = `<div><li class="list-group-item d-flex bd-highlight align-items">
                <div class="p-2 flex-fill bd-highlight">Product Name: <b>${name} </b></div>
                <div class="p-2 bd-highlight justify-content-end">Price : <b>₦ ${itemPrice}</b>
                <span class="badge badge-primary badge-pill">${qty}</span></div>
                </li></div>`
       $('#items').append(mystr);
    }
        document.getElementById('totalprice').innerHTML=totalPrice
    }
    document.getElementById('totalprice').innerHTML = totalPrice;
    $('#itemsJson').val(JSON.stringify(cart));

    {% if thank %}
    alert('Thanks for ordering with us. Your order id is {{id}}. Use it to track your order using our order tracker');
    localStorage.clear();
    document.location = "/";
    {% endif %}

    var test = `${totalPrice}`;
    document.getElementById("amt").value = test;
    </script> {% endcomment %}

 

    
    




{% endblock body %}