
{% extends "base.html" %}


{% block title %}Fulchhairs - Login{% endblock title %}

{% block content %}

  <br><br><br>
 <div class="card p-5 border border-4 border border-#4e00c2-subtle" style="background-color: #191c29;">
  {% if messages %}
  {% for message in messages %}

    <div class="alert alert-{{message.tags}} alert-dismissible fade show p-1 m-1" role="alert">
      <p style="font-size: 12px;">{{message}}<p>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  
  {% endfor %}             
  {% endif %}
  <h2 class="text-light">Login</h2>
  <form action="/auth/login/" method="post">{% csrf_token %}
    <label for="email" class="text-light">Email</label>
    <div class="form-group">
      <input type="email" class="form-control p-1" id="email" name="email" required>
    </div>
    <label for="pass1" class="text-light">Password</label>
    <div class="form-group">
      <input type="password" class="form-control p-1" id="pass1" name="pass1" required>
    <br>
    {% comment %} <button class="btn btn-success" type="button" type="submit">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Login
    </button> {% endcomment %}
    <button type="submit" class="btn btn-success">Login</button>
    <br>
    <br>
    <span class="text-light"> Forget Password? <a href="/auth/password-reset/">Reset</a></span>
    <br>
    <span class="text-light">New User?</span> <a href="/auth/signup/">Signup</a>
    <br>
  </form>
 </div>
{% endblock content %}