
{% extends "base.html" %}
{% block title %}Fulchhairs - Payment confirmation{% endblock title %}

{% block content %}

  <br><br><br>
 <div class="card p-5 border border-4 border border-#4e00c2-subtle" style="background-color: #191c29;">
  {% if messages %}
  {% for message in messages %}
  
  {% endfor %}             
  {% endif %}
  <h2 class="text-light">Payment Confirmation</h2>
  <section class="pb-4">
	<div class="border rounded-5 card p-5 border border-4 border border-#4e00c2-subtle" style="background-color: #191c29;">
	  
	  <section class="w-40 p-4 d-flex justify-content-center pb-4">

			<p class="text-light"><transaction>You are about to make a payment of {{ payment.amount }} and transaction reference {{ payment.ref }} from your wallet!!!</p>
			
            <br>
            
			<button onclick="payWithPaystack()" class="btn btn-primary btn-block mb-4">Pay Now</button>

		</section>
       
    </div> 
  </div>
</section>

 


<script src="https://js.paystack.co/v1/inline.js"></script>
<script>
	function payWithPaystack() {
		let currency = "GHS";
		let plan = "";
		let ref = '{{ payment.ref }}';
		let amount = '{{ payment.amount }}';
		let obj = {
			key: '{{ paystack_pub_key }}',
			email: '{{ user.email }}',
			amount: '{{ amount_value }}',
			ref: ref,
			callback: function (response) {
				window.location.href = "{% url 'verify_payment' payment.ref %}";
			},
		};
		if (Boolean(currency)) {
			obj.currency = currency.toUpperCase();
		}
		if (Boolean(plan)) {
			obj.plan - plan;
		}

		var handler = PaystackPop.setup(obj);
		handler.openIframe();
	}
</script>

{% endblock content %}