{% extends "base.html" %}
{% block title %}FulchHair - Reset Password{% endblock title %}

{% block content %}

  <br><br><br>
 <div class="card p-5 border border-4 border border-#4e00c2-subtle" style="background-color: #191c29;" >
  {% if messages %}
  {% for message in messages %}

    <div class="alert alert-{{message.tags}} alert-dismissible fade show p-1 m-1" role="alert">
      <p style="font-size: 12px;">{{message}}<p>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  
  {% endfor %}             
  {% endif %}
  <h2 class="text-light" style="font-size: 20px;">Password Reset</h2>
  <form action="" method="post">{% csrf_token %}
    <label for="email" class="text-light" >Email</label>
    <div class="form-group">
      <input type="email" class="form-control p-1" id="email" name="email" required>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
    <br>
    <br>
    <a href="/">Go Back</a>
    <br>
  </form>
 </div>
{% endblock content %}