{% extends 'base2.html' %}
{% block title %}
    Fulchhairs - Check Out
{% endblock title %} 
{% block content %}
<h1>FULCH HAIRS CHECK OUT</h1>
{% endblock content %} 
{% block body %} 
{% load static %}


    <section id="portfolio" class="portfolio">
        <div class="container">
            {% if messages %}
            {% for message in messages %}
        
              <div class="alert alert-{{message.tags}} alert-dismissible fade show p-1 m-1" role="alert">
                <p style="font-size: 12px;">{{message}}<p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            
            {% endfor %}             
            {% endif %}
            <br><br><br><hr>
        <div class="section-title">
            <h2>Fulchhairs</h2>
            <h3>Product Checkout Page </h3>
        </div>      
       
           <div class="col my-4">
               <h2  class="bg-danger text-white center">&nbsp Step 1 - Verify Your Address Details:</h2>
                <br>
               <div class="container">
                <div class="row">
                    <div class="col-3"></div>
                <div class="col-6">
                    <table>
                        <tr>
                            <th><h3>Information</h3></th>
                            <th><h3>Address Details</h3></th>
                        </tr>
                        <tr>
                            <td><h4 class="text-danger">Locality</h4></td>
                            <td><strong> {{ address.locality }} </strong></td>
                        </tr>
                        <tr>
                            <td><h4 class="text-danger">City</h4></td>
                            <td><strong> {{ address.city }} </strong></td>
                        </tr>
                        <tr>
                            <td><h4 class="text-danger">State</h4></td>
                            <td><strong> {{ address.state }} </strong></td>
                        </tr>
                        <tr>
                            <td><h4 class="text-danger">Zip Code</h4></td>
                            <td><strong> {{ address.zipcode }} </strong></td>
                        </tr>
                        <tr>
                            <td><h4 class="text-danger">Country</h4></td>
                            <td><strong> {{ address.country }} </strong></td>
                        </tr>
                        <tr>
                            <td><h4 class="text-danger">Phone Number</h4></td>
                            <td><strong> {{ address.mobile }} </strong></td>
                        </tr>

                    </table> 
                    <br>
                    <p class="bg-dark text-danger">&nbspPlease if your address do not show here knidly update it on your profile pages.</p>
                    <h4>THANK YOU</h4>
            </div>
            <div class="col-4"></div>
                </div>
               </div>
               
   
               
              <div class="container">
                <div class="col my-4">
                    <h2 class="bg-danger text-white center">&nbsp Step 2 - Express Checkout - Review Your Cart Items</h2>
                    <div class="my-4">
                        <ul class="list-group" id="items"> 
                        </ul>
                        <nav aria-label="breadcrumb">
                             <ol class="breadcrumb mt-3">
                                 <li class="breadcrumb-item active" aria-current="page">Your Cart Total Is <b class="text-danger">₦ <span id="totalprice"></span> <span id="amount" name="amount"></span></b>.
                                    {% comment %} <br>Your transaction reference {{ payment.ref }} {% endcomment %}
                                     <br> If satisfied with your details, please place your order. 
                                     <br><br><span class="text-white bg-success">&nbsp Thanks for using Fulchhairs &nbsp</span></li>
                             </ol>
                         </nav>
                            
                    </div>
                </div>
            </div>

            {% comment %} <section >
                <div class="col"></div>
                <div class="border col rounded-5 card p-2 border border-4 border border-#4e00c2-subtle" style="background-color: #191c29;">
                  
                    <section class="w-100 p-4 d-flex justify-content-center pb-4 text-center">
                            <form style="width: 15rem;" action="{% url 'initiate_payment' %}" method="POST">
                            <h2 class="text-light">Wallet Time</h2>
                            {% csrf_token %}
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <input type="email" id="form2Example1" class="form-control" name="email" value="{{user.email}}" required>
                                <label class="form-label text-light" for="form2Example1" style="margin-left: 0px;">email</label>
                            <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 88.8px;"></div><div class="form-notch-trailing"></div></div></div>
                    
                            <div class="form-outline mb-4">
                                <input type="number" required class="form-control" name="amount" id="totalprice" >
                                <label class="form-label text-light" for="form2Example1" style="margin-left: 0px;">Enter amount to pay for confirmation</label>
                                <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 88.8px;"></div><div class="form-notch-trailing"></div></div></div>
                    
                            <button type="submit" class="btn btn-primary btn-block mb-4">Make  Payment</button>
                            </form>
                    </section>
                
                </div> 
                <div class="col"></div> {% endcomment %}
                <hr>


                <hr>
        
            <div class="container">
            
                <div class="row">
                <div class="col-5">
                    
                    <h3> Yeahhh!!!  <span class="text-capitalise bg-dark text-light">&nbspIts Wallet Time&nbsp</span></h3>
                </div>
                <div class="col-5  d-flex justify-content-center p-3">
                    <div class="border col rounded-5 card p-4 border border-4 border border-#4e00c2-subtle" style="background-color: #191c29;">
                    <form style="width: 15rem;" action="{% url 'initiate_payment' %}" method="POST">
                        {% csrf_token %}
                        <!-- Email input -->
                        <input type="hidden" name="itemsJson" id="itemsJson" value="">
                        <div class="form-outline mb-4">
                            <input type="email" id="form2Example1" class="form-control" name="email" value="{{user.email}}" required>
                            <label class="form-label text-light" for="form2Example1" style="margin-left: 0px;">email</label>
                        <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 88.8px;"></div><div class="form-notch-trailing"></div></div></div>
                
                        <div class="form-outline mb-4">
                            <input type="number" required class="form-control" name="amount" id="amt" value="" >
                            <label class="form-label text-light" for="form2Example1" style="margin-left: 0px;">Confirm Your Amount</label>
                            <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 88.8px;"></div><div class="form-notch-trailing"></div></div></div>
                
                        <button type="submit" class="btn btn-primary btn-block mb-4">Make  Payment</button>
                        </form>
                    </div>
                </div>
                <div class="col-6">
      <!---

       <hr>

       

       <!-- onclick="payWithPayStack()" -->
   
    <script src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


    <script>
    if (localStorage.getItem('cart') == null) {
        var cart = {};
    } else {
        cart = JSON.parse(localStorage.getItem('cart'));
    }
    console.log(cart);

    var sum = 0;
    var totalPrice = 0;
    if ($.isEmptyObject(cart)) {
   //if object is empty
        mystr = `<p>Your cart is empty, please add some items to your cart before checking out!</p>`
        $('#items').append(mystr);
    } else {
        for (item in cart) {
       let name = cart[item][1];
       let qty = cart[item][0];
       let itemPrice = cart[item][2];
       sum = sum + qty;
       totalPrice = totalPrice + qty * itemPrice;
       
       mystr = `<div><li class="list-group-item d-flex bd-highlight align-items">
                <div class="p-2 flex-fill bd-highlight">Product Name: <b>${name} </b></div>
                <div class="p-2 bd-highlight justify-content-end">Price : <b>₦ ${itemPrice}</b>
                <span class="badge badge-primary badge-pill">${qty}</span></div>
                </li></div>`
       $('#items').append(mystr);
    }
        document.getElementById('totalprice').innerHTML=totalPrice
    }
    document.getElementById('totalprice').innerHTML = totalPrice;
    $('#itemsJson').val(JSON.stringify(cart));

    {% if thank %}
    alert('Thanks for ordering with us. Your order id is {{id}}. Use it to track your order using our order tracker');
    localStorage.clear();
    document.location = "/";
    {% endif %}

    var test = `${totalPrice}`;
    document.getElementById("amt").value = test;
    </script>

{% endblock body %}