{% extends "base.html" %}
<!-- CSS only -->
{% block content %}
    <br><br><br>
    <div class="card p-5 border border-4 border border-#4e00c2-subtle" style="background-color: #191c29;">
		<br><br>
        {% if messages %}
            {% for message in messages %}

                <div class="alert alert-{{message.tags}} alert-dismissible fade show p-1 m-1" role="alert">
                <p style="font-size: 12px;">{{message}}<p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            
            {% endfor %}             
        {% endif %}
        
        <h3>Dear {{ request.user.username }}</h3>
        <p style="font-size:20px;color:#5C5C5C;">transaction was successful</p>
        <br>
        <a href="{% url 'orders' %}" class="btn btn-success"> Check Our Orders </a>
        <br><br>
        </div>
        
	</div>

{% endblock content %}

